.App {
  text-align: center;
}
.Header {
  color: #fff;
  text-shadow: 1px 1px 5px #443e3e;
  margin: 50px;
}

#audioBtn {
  position: fixed;
  top: 50px;
  right: 20px;
}
/* write your parent styles in here for your App.js */
